ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

* { padding: 0; margin: 0; }
a { color:#e74242 }
.clear { clear:both; }

/* - Fonts etc.. - */

h1 { font-size: 12pt; }
h2 { font-size: 10pt; margin-bottom: 6px; }
h3 { font-size: 11pt; margin-bottom: 6px; }

font.gray { color: #ACA899; text-decoration: underline; }
.important { font-weight: bold; font-size: 8pt; }
.red { color: #ee0000; }
.yellow { color: #997700; }
.green { color: #000000; }
.white { background:#F5F4EA; }
.small { font-size: 7pt; }
.big { font-size: 10pt; }

/* - Textboxes - */

input, select, textarea {
    background: #FFF;
	border: 1px solid #00326A;
	color: #000;
	font-family: verdana, helvetica, sans-serif;
	font-size: 11px;
	margin: 5px;
	padding: 2px;
	vertical-align: middle;
}

input:focus { background-color: #e4ebf2; }
textarea:focus { background-color: #e4ebf2; }
select { margin: 0px; }

.btn {
    font-size:12px;
    font-family:Verdana,sans-serif;
    color:#000;
    background-color:#F0F5FA;
    border: 1px solid #072A66;
    padding: 1px 3px 1px 3px;
}

/* - Hyperlink Information - */

a:link, a:visited { text-decoration: none; color: #000000; }
a:hover { color: #FF0000; }
a.index { font-weight: bold; }
a.biglink { font-weight: bold; font-size: 12pt; }

a.altlink:link, a.altlink:visited {
    font-weight: bold;
	color: #A83838;
	text-decoration: none;
}

a.altlink:hover { text-decoration: underline; }

a.altlink_blue:link, a.altlink_blue:visited {
    font-weight: bold;
	color: #004E98;
	text-decoration: none;
}

a.altlink_blue:hover { text-decoration: underline; }

a.altlink_green:link, a.altlink_green:visited {
    font-weight: bold;
	color: #007800;
	text-decoration: none;
}

a.altlink_green:hover { text-decoration: underline; }

a.colheadlink:link, a.colheadlink:visited {
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

a.colheadlink:hover { text-decoration: underline; }

/* - Misc Information - */

p { font-size: 8pt; }
p.sub { margin-bottom: 4pt; }
.bold { font-weight: bold; }

/* - Table and TD information - */

table {
    border-collapse: collapse;
    border: none;
    margin:0 auto;
}

table.main, table.mainouter {}
table.bottom { background: transparent; }

table td { padding:5px; }
td { font-size: 8pt; border:1px solid #8e5418; color:#000; }
td.embedded { border: none; padding: 0px; }
td.bottom { border: none; }
td.heading { font-weight: bold; color:#000; background:#e4ebf2; padding:5px; }
td.text { padding: 10pt; text-align: left; }

td.comment {
    padding: 10pt;
    font-size: 8pt;
    text-align: left;
    word-wrap: break-word;
}

td.colhead {
    font-weight: bold;
    color: #000;
    background: #e5ecf4;
    padding:5px;
}

td.rowhead {
    font-weight: bold;
    text-align: right;
    vertical-align: top;
    padding:5px;
}

td.title { font-size: 14pt; }

td.navigation {
	font-weight: bold;
	font-size: 10pt;
    border: none;
}

td.clear {
    padding: 0px;
    border: 0px;
    background: transparent;
}

form {
	display: inline;
    width:  300px;
	padding: 0;
    margin:0 auto 0 auto;
}

fieldset { padding: 1em; }

.sublink {
	font-style: italic;
	font-size: 7pt;
	font-weight: normal;
}

.roundedCorners {
    border: 1px solid #000;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.right { text-align: right; }
.left { text-align: left; }
.center { text-align: center; }
.fright { float: right; }
.fleft { float: left; }
.fclear { float: clear; }